<div class="table-responsive">
  <table id="mygames" class="table table-striped table-bordered table-hover table-responsive">
  <thead>
  	<th>#</th>
  	<th>Title</th>
  	<th>Description</th>
  	<th>Check out / Check in</th>
  	<th>Borrower</th>
  	<th>Owner</th>
  	<th>Last Checkout</th>
  	<th>Last Checkin</th>
  </thead>
  <tbody>
    <% @games.each do |m| %>
    	<tr>
    		<td><%= m.id %></td>
    		<td><%= m.title %></td>
    		<td><%= m.description %></td>
    		<td><% if m.checked_in %>
    				<%= link_to "Check out", controller: 'games', action: "checkout", id: m.id %>
    			  <% else %>
    			  <%= link_to "Check in", controller: 'games', action: "checkin", id: m.id %>
    			  <% end %>
    		</td>
    		<td><% if m.borrower %><%= m.borrower.name %><% end %></td>
    		<td><%= m.user.name %></td>
    		<td><% if m.last_checkout %><%= m.last_checkout.to_s(:long) %><% end %></td>
        <td><% if m.last_checkin %><%= m.last_checkin.to_s(:long) %><% end %></td>
    	</tr>
    <% end %>
  </tbody>
  </table>
</div>